/*! ------------------------------------------------
 * Project Name: Name: Ackley - Coming Soon and Landing Page Template
 * Project Description: Ackley - bold and clean coming soon and landing page template to kick-start your project
 * Tags: mix_design, coming soon, under construction, template, landing page, portfolio, one page, responsive, html5, css3, creative, clean, agency, personal page
 * Version: 1.0.0
 * Build Date: June 2023
 * Last Update: June 2023
 * This product is available exclusively on Themeforest
 * Author: mix_design
 * Author URI: https://themeforest.net/user/mix_design */
/*! File name: main-demo.css
 * ------------------------------------------------
 *
 * ------------------------------------------------
 * Table of Contents
 * ------------------------------------------------
 *  1. Loader Styles
 *  2. Fonts
 *  3. Base CSS Styles
 *  4. Cursor
 *  5. Typography Styles
 *  6. Buttons & Triggers Styles
 *  7. Header
 *  8. Intro Styles
 *  9. Preview Styles
 *  10. Footer Styles
 *  11. Marquee Styles
 * ------------------------------------------------
 * Table of Contents End
 * ------------------------------------------------ */
/* ------------------------------------------------*/
/* Loader Styles Start */
/* ------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #10102b;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.loader.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader__container {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.loader__circle {
  position: relative;
  width: 110px;
  height: 110px;
  background-color: transparent;
  -moz-border-radius: 50%;
       border-radius: 50%;
  -webkit-animation: whiteShadow 1s infinite;
     -moz-animation: whiteShadow 1s infinite;
          animation: whiteShadow 1s infinite;
}
.loader__circle img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: auto;
}
.loader__circle.fade {
  -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@-webkit-keyframes whiteShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(128, 125, 242, 0.5);
            box-shadow: 0 0 0 0 rgba(128, 125, 242, 0.5);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
  }
  100% {
    -webkit-box-shadow: 0 0 0 30px transparent;
            box-shadow: 0 0 0 30px transparent;
    -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
    transition: -webkit-box-shadow 0.4s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
  }
}

@-moz-keyframes whiteShadow {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(128, 125, 242, 0.5);
         box-shadow: 0 0 0 0 rgba(128, 125, 242, 0.5);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
  }
  100% {
    -moz-box-shadow: 0 0 0 30px transparent;
         box-shadow: 0 0 0 30px transparent;
    -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
    transition: -webkit-box-shadow 0.4s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
  }
}

@keyframes whiteShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(128, 125, 242, 0.5);
       -moz-box-shadow: 0 0 0 0 rgba(128, 125, 242, 0.5);
            box-shadow: 0 0 0 0 rgba(128, 125, 242, 0.5);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
  }
  100% {
    -webkit-box-shadow: 0 0 0 30px transparent;
       -moz-box-shadow: 0 0 0 30px transparent;
            box-shadow: 0 0 0 30px transparent;
    -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
    transition: -webkit-box-shadow 0.4s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
  }
}
/* ------------------------------------------------*/
/* Loader Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Fonts Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Fonts End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Base CSS Styles Start */
/* ------------------------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

::-moz-selection {
  background-color: #a6a4f6;
  color: #141414;
  text-shadow: none;
}

::selection {
  background-color: #a6a4f6;
  color: #141414;
  text-shadow: none;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #807df2;
  border-radius: 10px;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-width: 360px;
  overflow-x: hidden !important;
  font: normal 300 1.8rem/1.6 "Space Grotesk", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #10102b;
}

section {
  position: relative;
  min-width: 360px;
}

a {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.overflow-hidden {
  overflow: hidden !important;
}

.svg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 360px;
  height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
}

.svg-layer-1 {
  background-image: url("../img/demo/demo-intro.svg");
  background-position: bottom right;
}

.color-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer-dark-03 {
  background-color: rgba(16, 16, 43, 0.3);
  mix-blend-mode: multiply;
}

/* ------------------------------------------------*/
/* Base CSS Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Cursor Styles Start */
/* ------------------------------------------------*/
.cursor {
  display: block;
  position: fixed;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: #5B2BE0;
  opacity: 0.6;
  mix-blend-mode: screen;
  pointer-events: none;
  -webkit-transform: scale(0.06);
     -moz-transform: scale(0.06);
      -ms-transform: scale(0.06);
          transform: scale(0.06);
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  transition: -webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  -o-transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  -moz-transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33), -moz-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33), -webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33), -moz-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  z-index: 9999;
}
.cursor:after {
  content: "";
  display: block;
  position: absolute;
  top: 70px;
  left: 70px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  background-image: url("../img/icons/arrow-up-right.svg");
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  transition: -webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  -o-transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  -moz-transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33), -moz-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33), -webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33), -moz-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
}

@supports not (mix-blend-mode: screen) {
  .cursor {
    opacity: 0.5;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cursor {
    visibility: hidden;
  }
}
html.touch .cursor {
  display: none;
}

.cursor-s {
  -webkit-transform: scale(0.18);
     -moz-transform: scale(0.18);
      -ms-transform: scale(0.18);
          transform: scale(0.18);
  mix-blend-mode: screen;
}

.cursor-m {
  -webkit-transform: scale(0.28);
     -moz-transform: scale(0.28);
      -ms-transform: scale(0.28);
          transform: scale(0.28);
}

.cursor-m-opposite {
  -webkit-transform: scale(0.28);
     -moz-transform: scale(0.28);
      -ms-transform: scale(0.28);
          transform: scale(0.28);
  mix-blend-mode: normal;
  background-color: #807df2;
  opacity: 0.5;
}

.cursor-l {
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
}
@media only screen and (min-width: 768px) {
  .cursor-l {
    -webkit-transform: scale(0.35);
       -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
            transform: scale(0.35);
  }
}
@media only screen and (min-width: 1400px) {
  .cursor-l {
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.cursor-l-opposite {
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .cursor-l-opposite {
    -webkit-transform: scale(0.35);
       -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
            transform: scale(0.35);
  }
}
@media only screen and (min-width: 1400px) {
  .cursor-l-opposite {
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.cursor-l-arrow {
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
  mix-blend-mode: normal;
  background-color: #807df2;
  opacity: 1;
}
.cursor-l-arrow::after {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
@media only screen and (min-width: 768px) {
  .cursor-l-arrow {
    -webkit-transform: scale(0.35);
       -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
            transform: scale(0.35);
  }
}
@media only screen and (min-width: 1400px) {
  .cursor-l-arrow {
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.link-l-arrow {
  cursor: none;
}

.cursor-xl {
  -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}
@media only screen and (min-width: 768px) {
  .cursor-xl {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media only screen and (min-width: 1400px) {
  .cursor-xl {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

.cursor-xl-opposite {
  -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .cursor-xl-opposite {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media only screen and (min-width: 1400px) {
  .cursor-xl-opposite {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

/* ------------------------------------------------*/
/* Cursor Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Typography Styles Start */
/* ------------------------------------------------*/
h1 {
  font: normal 400 4rem/1.1 "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 8rem;
    line-height: 1;
    margin-left: -0.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  h1 {
    font-size: 11rem;
    margin-left: -0.6rem;
  }
}

/* ------------------------------------------------*/
/* Typography Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Buttons & Triggers Styles Start */
/* ------------------------------------------------*/
.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: 0;
  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}

.btn-s-icon {
  display: block;
  position: relative;
  font: normal 400 1.6rem/1.2 "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
}
.btn-s-icon .btn-title {
  display: none;
}
.btn-s-icon.btn-light {
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.btn-s-icon.btn-mute {
  color: #a9a9ca;
}
@media only screen and (min-width: 992px) {
  .btn-s-icon .btn-title {
    display: inline-block;
  }
  .btn-s-icon i {
    font-size: 1.5rem;
    margin-left: 0.4rem;
  }
  .btn-s-icon span {
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  .btn-s-icon {
    position: relative;
  }
}

@media only screen and (min-width: 992px) {
  .btn-icon-left {
    position: relative;
  }
  .btn-icon-left .btn-title {
    margin-right: 0.4rem;
    overflow: hidden;
  }
  .btn-icon-left .btn-icon-anim {
    display: inline-block;
    width: auto;
    height: 100%;
    overflow: hidden;
  }
  .no-touch .btn-icon-left:hover i {
    -webkit-animation: 0.4s ease-in-out 0s 1 both slideOutLeft;
       -moz-animation: 0.4s ease-in-out 0s 1 both slideOutLeft;
            animation: 0.4s ease-in-out 0s 1 both slideOutLeft;
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
  }
  51% {
    opacity: 0;
  }
  52% {
    -webkit-transform: translateX(-14px);
            transform: translateX(-14px);
    opacity: 0;
  }
  53% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-moz-keyframes slideOutLeft {
  0% {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(14px);
         transform: translateX(14px);
  }
  51% {
    opacity: 0;
  }
  52% {
    -moz-transform: translateX(-14px);
         transform: translateX(-14px);
    opacity: 0;
  }
  53% {
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(14px);
       -moz-transform: translateX(14px);
            transform: translateX(14px);
  }
  51% {
    opacity: 0;
  }
  52% {
    -webkit-transform: translateX(-14px);
       -moz-transform: translateX(-14px);
            transform: translateX(-14px);
    opacity: 0;
  }
  53% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
  }
}
.btn-l {
  display: block;
  height: 5rem;
  padding: 0 2rem;
  -moz-border-radius: 2.5rem;
       border-radius: 2.5rem;
  font: normal 400 1.4rem/4.8rem "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: color 0.3s, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s, background-color 0.3s ease-in-out;
  transition: color 0.3s, background-color 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .btn-l {
    display: inline-block;
  }
}

.btn-light-outline {
  background-color: transparent;
  border: 1px solid #807df2;
  color: #ffffff;
}

.btn-light {
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}

.to-top {
  display: inline-block;
  width: 30px;
  height: 44px;
  padding: 1rem 0;
  -moz-border-radius: 15px;
       border-radius: 15px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 3;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.to-top svg {
  display: block;
  width: 20px;
  height: auto;
  margin: 0 auto;
  fill: #10102b;
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  -moz-transition: fill 0.5s;
  transition: fill 0.5s;
}
.to-top.is-visible, .to-top.fade-out {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.no-touch .to-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.5s 0s, -webkit-filter 0.5s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.5s 0s, -webkit-filter 0.5s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s, filter 0.5s 0s, background-color 0.5s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, filter 0.5s 0s, background-color 0.5s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, filter 0.5s 0s, background-color 0.5s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, filter 0.5s 0s, background-color 0.5s 0s, -webkit-filter 0.5s 0s;
  background-color: #ffffff;
  opacity: 1;
  -webkit-filter: drop-shadow(0 0 1px #807df2) brightness(1.1) drop-shadow(0 3px 10px #807df2);
          filter: drop-shadow(0 0 1px #807df2) brightness(1.1) drop-shadow(0 3px 10px #807df2);
}
.no-touch .to-top:hover svg {
  fill: #000000;
}
.to-top.is-visible {
  visibility: visible;
  opacity: 1;
}
.to-top.fade-out {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .to-top {
    position: fixed;
    right: 20px;
    bottom: 12px;
  }
}
@media only screen and (min-width: 1400px) {
  .to-top {
    position: fixed;
    right: 35px;
    bottom: 28px;
  }
}

/* ------------------------------------------------*/
/* Buttons & Triggers Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Header Styles Start */
/* ------------------------------------------------*/
.header {
  position: relative;
  width: 100%;
  min-width: 360px;
  height: 60px;
  background-color: #10102b;
  border-bottom: 1px solid #424264;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  .header {
    height: 100px;
  }
}

.header__logo {
  position: relative;
  padding: 0 2.4rem;
}
.header__logo a {
  display: block;
}
.header__logo img {
  display: block;
  width: auto;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    padding: 0 7rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header__logo {
    padding: 0 10rem;
  }
}

.header__controls {
  position: relative;
  height: 100%;
}

.controls__block {
  position: relative;
  height: 100%;
  border-left: 1px solid #424264;
  padding: 0 2.4rem;
  -webkit-transition: border-left 0.5s ease-in-out;
  -o-transition: border-left 0.5s ease-in-out;
  -moz-transition: border-left 0.5s ease-in-out;
  transition: border-left 0.5s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .controls__block {
    padding: 0 7rem;
  }
}
@media only screen and (min-width: 1400px) {
  .controls__block {
    padding: 0 10rem;
  }
}

/* ------------------------------------------------*/
/* Header Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Intro Styles Start */
/* ------------------------------------------------*/
.intro {
  position: relative;
  width: 100%;
  min-width: 360px;
  overflow: hidden;
  background-color: #10102b;
  border-bottom: 1px solid #424264;
}

.intro__content {
  position: relative;
  padding: 5.3rem 0 5.2rem 0;
}
@media only screen and (min-width: 768px) {
  .intro__content {
    padding: 5.8rem 0 5.8rem 0;
  }
}
@media only screen and (min-width: 1400px) {
  .intro__content {
    padding: 8.6rem 0 8.4rem 0;
  }
}

.intro__container {
  padding: 0 2.4rem;
}
@media only screen and (min-width: 768px) {
  .intro__container {
    padding: 0 7rem;
  }
}
@media only screen and (min-width: 1400px) {
  .intro__container {
    padding: 0 10rem;
  }
}

.rotate-object {
  display: none;
  width: 160px;
  height: 160px;
  z-index: 12;
  position: absolute;
  bottom: -80px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.rotate-object img {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.rotate-object.is-hidden img {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .rotate-object {
    display: block;
    left: auto;
    right: 70px;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    position: absolute;
    right: 70px;
    bottom: -80px;
    width: 160px;
    height: 160px;
    opacity: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .rotate-object {
    position: absolute;
    right: 70px;
    bottom: -80px;
  }
}
@media only screen and (min-width: 1400px) {
  .rotate-object {
    position: absolute;
    right: 100px;
    bottom: -105px;
    width: 210px;
    height: 210px;
  }
}

.rotate-img {
  display: block;
  width: 100%;
  height: auto;
}
.rotate-img.rotate-img-m {
  display: block;
}
.rotate-img.rotate-img-xxl {
  display: none;
}
@media only screen and (min-width: 1400px) {
  .rotate-img.rotate-img-m {
    display: none;
  }
  .rotate-img.rotate-img-xxl {
    display: block;
  }
}

/* ------------------------------------------------*/
/* Intro Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Preview Styles Start */
/* ------------------------------------------------*/
.demo {
  position: relative;
  width: 100%;
  min-width: 360px;
}

.links {
  border-bottom: 1px solid #424264;
}
.links:last-of-type {
  border-bottom: none;
}
@media only screen and (min-width: 992px) {
  .links {
    border-right: 1px solid #424264;
  }
  .links:nth-of-type(even) {
    border-right: none;
  }
  .links:nth-of-type(7) {
    border-bottom: none;
  }
}

.links__item {
  display: block;
  padding: 6rem 2.4rem;
}
@media only screen and (min-width: 768px) {
  .links__item {
    padding: 7rem;
  }
}
@media only screen and (min-width: 1400px) {
  .links__item {
    padding: 10rem;
  }
}

.links__block {
  display: block;
}

.links__image {
  border: 1px solid #353550;
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 1400px) {
  .links__image {
    margin-bottom: 2rem;
  }
}

.links__caption {
  font: normal 400 1.6rem/1 "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #a9a9ca;
}

.links__text {
  font: normal 400 1.6rem/1 "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #a9a9ca;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.links__icon {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  -moz-transition: transform 0.4s, -moz-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s;
}
.links__icon::before, .links__icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #8c8caa;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.links__icon::before {
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.links__icon::after {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.no-touch .links__block:hover .links__text {
  color: #ffffff;
}
.no-touch .links__block:hover .links__icon {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.no-touch .links__block:hover .links__icon::before, .no-touch .links__block:hover .links__icon::after {
  background-color: #ffffff;
}

/* ------------------------------------------------*/
/* Preview Sections End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Footer Styles Start */
/* ------------------------------------------------*/
.footer {
  position: relative;
  position: relative;
  width: 100%;
  min-width: 360px;
  padding: 6rem 0;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
       background-size: cover;
  background-image: url("../img/demo/footer-bg.webp");
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 7rem 0;
  }
}
@media only screen and (min-width: 1400px) {
  .footer {
    padding: 10rem 0;
  }
}

.footer__container {
  position: relative;
  padding: 0 2.4rem;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    padding: 0 7rem;
  }
}
@media only screen and (min-width: 1400px) {
  .footer__container {
    padding: 0 10rem;
  }
}

.footer__caption {
  font: normal 400 3rem/1.1 "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  max-width: 520px;
  margin: 0 auto;
}
@media only screen and (min-width: 1400px) {
  .footer__caption {
    font-size: 4rem;
    margin: 0 auto;
  }
}

.footer__btngroup {
  margin-top: 3.5rem;
}

/* ------------------------------------------------*/
/* Footer Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Marquee Styles End */
/* ------------------------------------------------*/
.decor {
  position: relative;
  width: 100%;
  min-width: 360px;
  height: 60px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .decor {
    height: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  .decor {
    height: 100px;
  }
}

.marquee {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  gap: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 60px;
}
.marquee.marquee-relative {
  position: relative;
  bottom: auto;
  left: auto;
}
.marquee:hover .scroll {
  -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
          animation-play-state: paused;
}
@media only screen and (min-width: 768px) {
  .marquee {
    height: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .marquee.marquee-relative {
    position: absolute;
    bottom: auto;
    left: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .marquee {
    height: 100px;
  }
}

.marquee-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 1rem));
            transform: translateX(calc(-100% - 1rem));
  }
}

@-moz-keyframes scroll {
  from {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  to {
    -moz-transform: translateX(-moz-calc(-100% - 1rem));
         transform: translateX(calc(-100% - 1rem));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 1rem));
       -moz-transform: translateX(-moz-calc(-100% - 1rem));
            transform: translateX(calc(-100% - 1rem));
  }
}
.scroll {
  -webkit-animation: scroll 16s linear infinite;
     -moz-animation: scroll 16s linear infinite;
          animation: scroll 16s linear infinite;
}

.marquee {
  background-color: #f0f0fc;
  border-top: 1px solid #10102b;
}
.marquee span {
  display: block;
  white-space: nowrap;
  font: normal 500 3.6rem/1 "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #141414;
}
.marquee span::after {
  content: "*";
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #807df2;
}
.marquee.opposite {
  background-color: #10102b;
  border-top: 1px solid #424264;
}
.marquee.opposite span {
  font-weight: 400;
  color: #8c8caa;
}
.marquee.opposite span::after {
  color: #807df2;
}
@media only screen and (min-width: 768px) {
  .marquee span {
    font-size: 4.6rem;
  }
  .marquee span::after {
    padding: 0 1rem 0 2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .marquee span {
    font-size: 6.4rem;
  }
  .marquee span::after {
    padding: 0 2rem 0 3rem;
  }
}

/* ------------------------------------------------*/
/* Marquee Styles Start */
/* ------------------------------------------------*/